*{
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 20px;
    
}
.imageContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.image{
    background-color: rgb(91, 91, 238);
    margin: 50px 50px 0 50px ;
    border-radius: 20px;
}
.image img{
    width: 150px;
    height: auto;
}
.image p{
    background-color: white;
    text-align: center;
}
.text {
   width: 70%;
  margin-left: 60px;
  margin-top: 30px;

}